.friend_list {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.item {
  width: 400px;
  height: 110px;
  display: flex;
  align-items: center;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 7px;
}

.avatar {
  height: 90px;
  width: 90px;
  border-radius: 15px;
  margin-right: 20px;
}

.name {
  font-weight: bold;
}

.status {
  width: 15px;
  height: 15px;
  display: block;
  margin-right: 15px;
  border-radius: 50%;
  margin-left: 10px;
}
.isOnline {
  background-color: #008000;
}
.isOffline {
  background-color: #ff0000;
}
