td,
th {
  width: 290px;
  height: 30px;
  border: 1px solid #e4e4e4;
  text-align: left;
  padding-left: 12%;
  color: #6a7177;
  margin-left: 50%;
}
thead th {
  color: #d5ffff;
  text-transform: uppercase;
  font-size: 13px;
}
.transaction_history {
  border-collapse: collapse;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
thead tr:nth-child(1) {
  background-color: #00bcd5;
  height: 30px;
}
tbody tr:nth-child(even) {
  background-color: #ecf1f4;
}
tbody td:nth-child(1) {
  text-transform: capitalize;
}
